:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    background-color: var(--accent2-color);
    padding: 20px;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

nav {
    display: flex;
    justify-content: space-around;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.hero {
    position: relative;
    margin: 20px;
    text-align: center;
}

.hero img {
    display: grid;
    width: 100%;
    height: auto;

}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

.hero article img {
    float: right;
    width: 125px;
}

.hero h1 {
    position: absolute;
    top: 1rem;
    width: 100%;
    color: var(--secondary-color);
}

.hero article {
    position: absolute;
    top: 10rem;
    left: 4rem;
    right: 4rem;
    opacity: .7;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

article {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}

article p {
    color: var(--accent2-color)
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px
}

.socialmedia img {
    width: 30px;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    align-items: center;
}